/* rgb(119, 116, 101) rgb(50, 162, 122) rgb(208, 176, 11) rgb(188, 214, 178) rgb(36, 72, 80) */

/* rgb(163, 101, 0) rgb(187, 124, 145) rgb(65, 121, 53) rgb(180, 226, 130) rgb(178, 198, 130) */

:root {
    /*theme 1*/
    --white: #ffffff;
    --t1-c1: rgb(119, 116, 101);
    --t1-c2: rgb(50, 162, 122);
    --t1-c3: rgb(208, 176, 11);
    --t1-c4: rgb(188, 214, 178);
    --t1-c5: rgb(36, 72, 80);

    /*theme 2*/
    --black: #000000;
    --t1-c1: rgb(180, 226, 130);
    --t1-c3: rgb(29, 50, 24);
    --t1-c4: rgb(215, 224, 193);
    --t1-c5: rgb(163, 101, 0);
}

body {
    background-color: var(--t1-c5);
    color: var(--t1-c4);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 10vh 20vw;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    gap: 5vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-shadow: 2px 4px 4px rgba(20, 12, 33, 0.49);
    font-family: "Chewy", system-ui;
    font-weight: 500;
    font-size: 3em;
    margin: 0;
}

p {
    color: var(--t1-c4);
}

.show-time {
    color: var(--t1-c4);
    font-size: 5em;
    margin-top: 5%;
}

form {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 4px 4px rgba(20, 12, 33, 0.49) inset;
    color: var(--t1-c5);
    background-color: var(--t1-c4);
}

.start {
    background-color: var(--t1-c3);
}

.start:hover {
    background-color: var(--t1-c1);
}

.stop {
    background-color: var(--t1-c1);
}

.stop:hover {
    background-color: var(--t1-c3);
}

button {
    background-color: var(--t1-c3);
    color: var(--t1-c1);
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 4px 4px rgba(20, 12, 33, 0.49);
}

button:hover {
    box-shadow: 2px 4px 4px rgba(20, 12, 33, 0.49) inset;
}

.footer-logo-fixed {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.footer-logo-fixed img {
    width: 50px;
    height: 50px;
}