body {
    background-color: #171717;
    color: #eeecec;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 3vh 15vw;
}

header {
    margin-bottom: 10vh;
    display: flex;
    justify-content: space-between;
}

header a {
    color: #eeecec;
    text-decoration: none;
}

nav a{
    text-decoration: underline;
}

nav a:hover{
    text-decoration: line-through;
}

.projects-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 15px ;
    margin-top: 20px;
}

.project{
    display: flex;
    gap: 3%;
    width: 400px;
    /*border-color: rgb(90, 101, 62);
    border-style: solid;*/
}

@media screen and (min-width: 500px) {
    .project {
        width: 450px;
    }
    .project img {
        width: 225px;
    }
}

@media screen and (min-width: 1000px) {
    .project {
        width: 500px;
    }
    .project img{
        width: 250px;
    }
}

.project .left{
    flex: 50%;
}

.project .right{
    flex:50%;
    display: flex;
}

.project img{
    /*width: 100%;*/
    width: 200px;
    transition: all .2s ease-in-out;
}

.project a:hover img{
    width: 300px;
    transform: scale(1);
    box-shadow: 0px 0px 5px 5px #615f5f;
}

.project h3{
    margin: 0;
}

.project p{
    margin: 0;
}

.project a {
    color: #eeecec;
}

.project a:hover {
    color: #eeecec;
    text-decoration: line-through;
}

.footer-logo-fixed {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.footer-logo-fixed img {
    width: 50px;
    height: 50px;
}