body {
    background-color: #121212;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #efefef;
    margin: 0px;
    padding: 5%;
    text-align: center;
}

h1 {
    color: green;
}