body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 5vh 5vw;
    display: grid;
    grid-template-areas:
            'header'
            'nav'
            'menu'
            'footer';
}
