body {
    background-color: #171717;
    color: #eeecec;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 3vh 15vw;
}

header {
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header a {
    color: #eeecec;
    text-decoration: none;
}

h1 {
    text-shadow: -2px 2px 1px #000000;
}

nav a{
    text-decoration: underline;
}

nav a:hover{
    text-decoration: line-through;
}

.projects-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 15px ;
    margin-top: 20px;
}

.project{
    display: flex;
    gap: 3%;
    width: 200px;
    /*border-color: rgb(90, 101, 62);
    border-style: solid;*/
}


.project img{
    /*width: 100%;*/
    width: 100%;
    transition: all .2s ease-in-out;
}

.project a:hover img{
    width: 110%;
    transform: scale(1);
    box-shadow: 0px 0px 3px 3px #434242;
}

.project h3{
    margin: 0;
}

.project p{
    margin: 0;
}

.project a {
    color: #eeecec;
}

.project a:hover {
    color: #eeecec;
    text-decoration: line-through;
}

.footer-logo-fixed {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.footer-logo-fixed img {
    width: 50px;
    height: 50px;
}


/*----*/

.mouse-animation {
    background-color: rgba(238, 243, 244, 0.5);
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px rgba(23, 151, 215, 0.5);
    height: 2px;
    width: 2px;
    position: fixed;
    z-index: -1;
}

.change-color{
    background-color: rgba(23, 151, 215, 0.5);
    border-radius: 20px;
    position: fixed;
    top: 30px;
    right: 30px;
    height: 30px;
    width: 30px;
    z-index: 1;
}